[user]
	email = etienne@perot.me
	name = Etienne Perot
	signingkey = 974EE250
[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
[color]
	branch = auto
	diff = auto
	log = auto
	interactive = auto
	status = auto
	pager = true
	ui = auto
[core]
	pager = most
[alias]
	rclone = clone --recursive
	a = add
	d = diff --minimal --no-prefix --patch-with-stat
	ds = diff --minimal --no-prefix --patch-with-stat --staged
	l = log --pretty --show-signature --decorate=full --notes --graph
	s = status -s
	c = commit
	svnpush = "!f(){ git push; git fetch; git rebase; };f"
	unstage = reset HEAD
	undo = reset --soft HEAD^
	hardundo = reset --hard HEAD^
	submoduleup = "!f(){ git submodule foreach pwd | grep '^/' | bash -c 'while read submodule; do echo "$submodule" && pushd \"$submodule\" &> /dev/null && branchName=\"$(git rev-parse --abbrev-ref HEAD)\" && git pull && git checkout "$branchName" && popd &> /dev/null; done'; };f"
[merge]
	log = true
[apply]
	whitespace = fix
[push]
	default = upstream
