[Unit]
Description=MAC address change for %interface%
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/macchanger -A '%interface%'

[Install]
WantedBy=network.target
